@media screen and (max-width: 690px)
{
	body
	{
		overflow-x: hidden;
	}

	#loisir
	{
		margin: auto;
	}

	header
	{
		display: flex;
		text-align: center;
		min-width: 470px;
		margin: auto;
	}
	section
	{
		max-width: 500px;
		flex-direction: column;
	}
	aside
	{
		align-self: flex-end;
		order:1;
		margin: auto;

	}
	.element
	{
		display: inline-flex;
		flex-direction: column;
	}

}
