@media screen and (max-width: 690px)
{
	body
	{
		overflow-x: hidden;
	}
	aside
	{
		display: flex;
		position: static;
		width: 450px;
		margin: auto;
	}
	.propos
	{
		padding: 30px 60px 30px 60px;
		margin: auto;
	}
	img
	{
		margin-left: 140px;
	}
	#loisir
	{
		padding-bottom: 40px;
		margin: auto;
	}

	header
	{
		display: flex;
		text-align: center;
		min-width: 470px;
		margin: auto;
	}
	section
	{
		position: static;
		max-width: 500px;
		margin-left: 20px;
		margin: auto;
	}
	#reco p
	{
		padding-right: 48px;	
	}
}
@viewport
{
  width: device-width;
}