@media screen and (min-width : 768px) and (max-width : 1024px)
{
	body
	{
		width: 768px;
	}
}
@media screen and (max-width: 768px)
{
	body
	{
		overflow-x: hidden;
		width: auto;
	}
	main
	{
		display: block;
		width: 100%;
		padding-left: 0%;

	}

	#loisir
	{
		margin: auto;
	}

	header
	{
		display: flex;
		text-align: center;
		min-width: 470px;
		margin: auto;
	}
	section
	{
		max-width: 600px;
		flex-direction: column;
	}
	aside
	{
		order:1;
		margin: auto;
	}
	.propos
	{
		height: auto;
	}
	.element
	{
		display: inline-flex;
		flex-direction: column;
	}

}
