@media screen and (min-width : 768px) and (max-width : 1024px)
{
	.elmt
	{
		display: block;
		text-align: justify;
	}
}
@media screen and (max-width: 768px)
{
	body
	{
		overflow-x: hidden;
		width: 100%;
		align-content: center;
		min-width: 550px;
	}
	h1
	{
		display: flex;
		flex-direction: column;
		padding-left: 0.6em;
	}
	h1 span
	{
		padding-bottom: 0em;
	}
	div.icone
	{
		padding-bottom: 2em;
	}
	main
	{
		display: block;
		width: 100%;
		padding-left: 0%;

	}
	#loisir
	{
		margin: auto;
	}

	header
	{
		display: flex;
		text-align: justify;
		min-width: 470px;
		margin: auto;
		padding-left: 1em;
	}
	section
	{
		max-width: 764px;
		width: 95%;
		flex-direction: column;
		margin: auto;
	}
	.elmt
	{
		display: block;
		text-align: center;
		margin-left: 0px;
	}
	aside
	{
		order:1;
		margin: auto;
	}
	.propos
	{
		height: auto;
	}
}
