@media screen and (max-width: 690px)
{
	aside
	{
		position: static;
		width: 550px;
		margin-left: 10px;
	}
	img
	{
		margin-left: 185px;
	}
	#loisir
	{
		padding-bottom: 40px;
		margin-left: 103px;
	}

	header
	{
		margin-left: 50px;
	}
	section
	{
		position: static;
		max-width: 500px;
		margin-left: 20px;
	}
	#reco
	{
		flex-direction: column-reverse;
	}
}