@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotolight';
    src: url('Roboto-Light-webfont.eot');
    src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light-webfont.woff') format('woff'),
         url('Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
*
{
	font-family: 'robotoregular';
}
body
	{
		overflow-x: hidden
	}
header
{
	display: flex;
	flex-direction: column;
	color: rgb(28, 53, 71);
	margin-left: 550px;
}
h1
{
	font-family: 'robotolight';
	font-size: 70px;
}
h1 .redcolor
{
	color: rgb(253, 67, 69);
	font-style: normal;
}
span .underlined
{
	border-bottom: 4px solid rgb(253, 67, 69);
	font-style: normal;
}
h1 span
{
	display: block;
	font-size: 0.4em;
	margin-bottom: 50px;
}

aside
{
	display: flex;
	position: absolute;
	flex-direction: column;
	width: 350px;
	bottom: -820px !important;
	background-color: rgb(28, 53, 71);
	color: white;
	top: 0px;

}
aside h2
{
	color: rgb(38, 53, 71);
	background-color: rgb(253, 253, 253);
	font-size: 1.4em;
	text-align: center;
	padding: 5px 0px 5px 0px;
}
.propos
{
	padding-bottom: 400px;
}
aside p
{
	line-height: 35px;
	margin: 0px 10px 0px 30px;

}
#loisir
{
	display: flex;

}
aside .fas
{
	border: 3px solid rgb(253, 67, 69);
	border-radius: 50%;
	color: rgb(254, 254, 254);
	font-size: 3em;
	padding: 10px 10px 10px 10px;
	margin: 50px 30px 0px 20px;
}
img
{
	margin: 40px 0px 0px 90px;
	border: 3px solid rgb(253, 67, 69);
	border-radius: 50%;
}
section
{
	display: block;
	position: absolute;
	margin-left: 400px;
	color: rgb(28, 53, 71);
}
article
{
	margin-bottom: 135px;
}

article p
{
	margin-left: 350px;
	margin-bottom: -90px;
	font-family: 'robotolight';
}
article span
{
	position: absolute;
	margin-top: -60px;

}
section h2
{
	border-bottom: 4px solid rgb(38, 53, 71);
    padding-bottom: 15px;
    padding-left: 40px;
}
h3
{
	margin-left: 350px;
}
#reco
{
	display: flex;
	text-align: left;
}
#reco p
{
	margin-left: 0px;
	color: rgb(38, 53, 71);
	padding-right: 300px;
}

#reco h3
{
	margin-left: 0px;
	color: rgb(38, 53, 71);
	margin-top: -60px;
}
div
{
	color: rgb(171, 171, 171);
}
.fa, .fab, .fad, .fal, .far, .fas
{
	margin-right: 30px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: rgb(253, 67, 69);
    font-size: 1.4em;
}