@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular-webfont.woff') format('woff'),
         url('Roboto-Regular-webfont.ttf') format('truetype'),
         url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotolight';
    src: url('Roboto-Light-webfont.eot');
    src: url('Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light-webfont.woff') format('woff'),
         url('Roboto-Light-webfont.ttf') format('truetype'),
         url('Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;

}
*
{
	font-family: 'robotoregular';
}
body
{
		overflow-x: hidden;
		width: max-content;
}
header
{
	color: rgb(28, 53, 71);
	font-family: 'robotolight';
	padding-left: 2.5em;
}
h1
{

	font-family: 'robotolight';	
	font-size: 5.2em;
}
h1 .redcolor
{
	font-family: 'robotolight';
	color: rgb(253, 67, 69);
	font-style: normal;
}
span .underlined
{
	border-bottom: 4px solid rgb(253, 67, 69);
	font-style: normal;
}
h1 span
{
	display: block;
	font-size: 0.4em;
	padding-bottom: 2em;
}

aside
{
	display: flex;
	flex-direction: column;
	width: 22em;
	background-color: rgb(28, 53, 71);
	color: white;

}
aside h2
{
	color: rgb(38, 53, 71);
	background-color: rgb(253, 253, 253);
	font-size: 1.4em;
	text-align: center;
	padding: 0.2em;
}

aside p
{
	line-height: 2.3em;
	margin: 0px 10px 0px 30px;

}
.baseline
{
	display: block;
	font-style: normal;

}
.propos p
{
	align-content: baseline;
}
#loisir
{
	display: flex;
	padding-bottom: 1em;

}
aside .fas
{
	border: 3px solid rgb(253, 67, 69);
	border-radius: 50%;
	color: rgb(254, 254, 254);
	font-size: 3em;
	padding: 10px 10px 10px 10px;
	margin: 50px 30px 0px 20px;
}
img
{
	display: flex;
	border-radius: 50%;
	border: 3px solid
    rgb(253, 67, 69);
    width: 50%;
    height: 50%;
    overflow: hidden;
    margin: 30px 10px 30px 90px;
}
section
{
	display: flex;
	color: rgb(28, 53, 71);
	align-items: stretch;
}
main
{
	position: static;
	padding-left: 1.2em;
	width: 60%;
}
main section
{
	display: block;
}
article
{
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	margin-left: 50px;
}
.date
{
	width: 30%;
}
.content
{
	width: 70%;
}
article p
{
	font-family: 'robotolight';
}
article span
{
	display: block;
	color: rgb(176,190,197);
}
.entete
{
	border-bottom: 4px solid rgb(38, 53, 71);
    padding-bottom: 15px;
    margin-left: 50px;
    font-size: 1.6em;
}

.fa, .fab, .fad, .fal, .far, .fas
{
	margin-right: 30px;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: rgb(253, 67, 69);
    font-size: 1.4em;
}